<div id="<%= dom_id experience_point %>">
  <p>
    <strong>Text:</strong>
    <%= experience_point.text %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= experience_point.experience_id %>
  </p>

</div>
