<h1>Editing experience point</h1>

<%= render "form", experience_point: @experience_point %>

<br>

<div>
  <%= link_to "Show this experience point", @experience_point %> |
  <%= link_to "Back to experience points", experience_points_path %>
</div>
