<p style="color: green"><%= notice %></p>

<h1>Experience points</h1>

<div id="experience_points">
  <% @experience_points.each do |experience_point| %>
    <%= render experience_point %>
    <p>
      <%= link_to "Show this experience point", experience_point %>
    </p>
  <% end %>
</div>

<%= link_to "New experience point", new_experience_point_path %>
