<div id="<%= dom_id education_point %>">
  <p>
    <strong>Text:</strong>
    <%= education_point.text %>
  </p>

  <p>
    <strong>Education:</strong>
    <%= education_point.education_id %>
  </p>

</div>
