<h1>Editing education point</h1>

<%= render "form", education_point: @education_point %>

<br>

<div>
  <%= link_to "Show this education point", @education_point %> |
  <%= link_to "Back to education points", education_points_path %>
</div>
