<p style="color: green"><%= notice %></p>

<h1>Education points</h1>

<div id="education_points">
  <% @education_points.each do |education_point| %>
    <%= render education_point %>
    <p>
      <%= link_to "Show this education point", education_point %>
    </p>
  <% end %>
</div>

<%= link_to "New education point", new_education_point_path %>
