<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" style="background-color: #192231;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h3 class="title">Shawn Carpenter</h3></a>
    <button id="hour" type="button" class="btn btn-dark">Change theme to match current time</button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#MainNavbarSupportedContent" aria-controls="MainNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="MainNavbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/education">Education</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Portfolio
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/portfolio">Project Catalog</a></li>
            <li><hr class="dropdown-divider"></li>     
            <li><a class="dropdown-item" href="/adopt">Adopt, Don't Shop! full website demonstration </a></li>
            <li><a class="dropdown-item" href="/viewparty">Viewing Party! full website demonstration </a></li>
            <li><a class="dropdown-item" href="/thirdspace">Third Space full website demonstration </a></li>
            <li><a class="dropdown-item" href="/sweather">Sweater Weather API demonstration </a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/experience">Experience</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contact Me
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="https://linkedin.com/in/shawndcarpenter/">LinkedIn</a></li>
            <li><a class="dropdown-item" href="https://github.com/shawndcarpenter">GitHub</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="mailto:shawncarpenter.co@gmail.com">Email</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>