<%= render partial: 'shared/navbar' %>
<%= render partial: 'shared/filter' %>
<!DOCTYPE html>


<html lang="en">
  <body>
    <div class="all-content">
      <div class="background-pages"></div>
        <div class="items">
          <br>
          <br>
          <div class="container-sm">
            <%= image_tag("profilepic.jpeg", class: "profile-img", alt: "a picture of Shawn") %>
          </div>

          <h2 class="heading">  $ /SUMMARY</h2>
            <div class="container-md">
              <div class="summary-container">
                <div class="summary">
                  <p><b>Transitioning from Alcohol and Drug Counseling to software engineering, my counseling background equipped me with skills in empathetic listening, teamwork, and conflict resolution, all valuable skills within Agile methodology for retrospective moderation and sprint facilitation to achieve consensus on software implementation, versioning and architecture decisions. While initially attracted to web development, my logical mindset (no doubt fostered by my programmer parents) led me to focus on data manipulation and database management through SQL and ActiveRecord querying, API creation, user data handling and comprehensive testing, prioritizing these aspects over front-end design. Currently pursuing computer science coursework at HarvardX.</b></p>
                </div>
              </div>
            </div>
            <br>
            <br>

            <h2 class="heading">  $ /SKILLS</h2>
            <div class="container-md">
              <div class="skills">
                <ul id="mySkills"></ul>
              </div>
              <br>
              <br>
              <br>
              <br>
          </div>
        </div>
      </div>
  </body>
</html>