<div id="<%= dom_id project_skill %>">
  <p>
    <strong>Text:</strong>
    <%= project_skill.text %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= project_skill.project_id %>
  </p>

  <p>
    <strong>Skill:</strong>
    <%= project_skill.skill_id %>
  </p>

</div>
