<h1>Editing project skill</h1>

<%= render "form", project_skill: @project_skill %>

<br>

<div>
  <%= link_to "Show this project skill", @project_skill %> |
  <%= link_to "Back to project skills", project_skills_path %>
</div>
