<p style="color: green"><%= notice %></p>

<h1>Project skills</h1>

<div id="project_skills">
  <% @project_skills.each do |project_skill| %>
    <%= render project_skill %>
    <p>
      <%= link_to "Show this project skill", project_skill %>
    </p>
  <% end %>
</div>

<%= link_to "New project skill", new_project_skill_path %>
