<h1>Editing education</h1>

<%= render "form", education: @education %>

<br>

<div>
  <%= link_to "Show this education", @education %> |
  <%= link_to "Back to educations", educations_path %>
</div>
