<h1>Editing project point</h1>

<%= render "form", project_point: @project_point %>

<br>

<div>
  <%= link_to "Show this project point", @project_point %> |
  <%= link_to "Back to project points", project_points_path %>
</div>
